/*  Middle Time Section
    ================================================== */

.middle {
  --bespoke-flow-spacer: calc(var(--spacer) * 1);

  letter-spacing: 0.1em;
  text-transform: uppercase;

  .time-wrapper {
    min-inline-size: max-content;
    line-height: 1;
  }

  .time {
    font-size: var(--step-4);
    font-weight: 700;
  }

  .greeting-wrapper {
    display: flex;
    justify-content: flex-start;

    span:not(.icon) {
      inline-size: max-content;
    }

    .icon {
      margin-block-start: 2px;
      margin-inline-end: 0.5rem;
    }
  }

  .timezone {
    font-size: var(--step-1);
  }

  .location-wrapper {
    font-size: var(--step-0);
    font-weight: 700;
    letter-spacing: 2px;
  }
}
