/* Center main content on page */
$min: 0;
$max: 1440px;

.align-content {
  display: grid;
  grid-template-rows: repeat(3, 50vh);
  grid-template-columns: minmax(1rem, 1fr) minmax(1px, 1440px) minmax(1rem, 1fr);
  // align-content: space-between;

  > * {
    grid-column: 2;
  }
}
