@import "reset";

/* ==================================================
  Global Styles
  ================================================== */

@import "abstracts/variables";
@import "abstracts/breakpoints";

/* Base Styles
   ================================================== */

body {
  // background-image: url("../images/desktop/bg-image-daytime.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--ff-body);
  font-size: var(--step-0);
  line-height: 1.7;
}

body > section {
  block-size: 50vh;
  padding-block-start: clamp(3rem, 15%, 6rem);
  padding-block-end: clamp(3rem, 15%, 6rem);
  /* transform: translateY(-100%);  */
}

figcaption {
  font-weight: 700;
}

/* ==================================================
  Composition
  ================================================== */

@import "composition/align-content";

/* ==================================================
  Utilities
  ================================================== */
@import "utilities/container";
@import "utilities/flow-section";
@import "utilities/flow-content";
@import "utilities/visually-hidden";
@import "utilities/outline";
@import "utilities/split";

/* ==================================================
   Blocks
   ================================================== */

@import "blocks/quote";
@import "blocks/time";
@import "blocks/details";
